body {
  padding: 20px;
  box-sizing: border-box;
  color: white;
  background-color: #ff9770;
}

.index-body {
  background-image: url(./Images/nassim-allia-ot-HSrLNTP0-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.button-container {
  margin: auto;
  height: 100vh;
  display: flex;
  align-items: center;
}

.start-button {
  margin: auto;
  width: 250px;
  padding: 15px;
  background-color: yellow;
  font-size: 20px;
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

h1 {
  margin-top: 50px;
}

#game div {
  width: 100px;
  height: 100px;
  margin: 10px;
  display: inline-block;
  border-radius: 15px;
  transition: 0.4s ease-in-out;
}

#game {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #e9ff70;
  padding: 10px;
  border: 5px red solid;
}

.body-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: auto;
}

#final-result{
  color: green;
  padding: 10px;
}

#replay {
  display: none;
  width:10vw;
  height: 6vh;
  background-color: yellow;
  color: black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.result-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

@media screen and (max-width: 800px) {
  
  #game div {
    width: 70px;
    height: 70px;
    margin: 5px;
    border-radius: 15px;
  }
  
  #game {
    width: 85%;
    display: flex;
    padding: 5px;
  }

  .result-container {
    flex-direction: column;
    padding: 10px;
  }

  #replay {
    width: 30vw;
  }

  #final-result {
    text-align: center;
  }

  .index-body {
    background-image: url(./Images/lucas-ortiz-RMSLfydEKSI-unsplash.jpg);
  }

}